.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #14130D;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  border-bottom: 1px solid #ADFF2C;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  color: #FFFEFC;
}

.navLogo {
  width: 40px;
}

.navLink {
  cursor: pointer;
  font-weight: 500;
  list-style: none;
  color: #FFFEFC;
  text-decoration: none;
}

.navLink:hover {
  color: #ADFF2C;
}

.navLink.active {
    color: #ADFF2C;
  }

.navLogin {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #FFFEFC;
}

.navBtn {
  background-color: #ADFF2C;
  border-color: #ADFF2C;
  border-radius: 9999px;
  font-family: ABCFavoritExtended;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: .3rem 1rem;
  text-align: center;
  color: #060508;
  cursor: pointer;
}
