// Primary
$frequency: #ADFF2C;
$echo: #14130D;
$moss: #1e1c13;
$pitch: #060508;

// Secondary
$spoonbill: #FFAFAF;
$flamingo: #FF6868;
$ibis: #CC1E3D;
$palm: #008059;
$chirp: #D2FF8A;

// Neutrals
$insight: #FFFEFC;
$cloud: #F9F6F2;
$fog: #E9E6E1;
$util-gray-01: #D3D2CF;
$util-gray-02: #7F7D78;
$util-gray-03: #4B4B4B;
$util-gray-04: #242424;
