@import '../../css/colors.scss';

.wrapper {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
