@font-face {
  font-family: 'ABCFavoritExtended';
  font-display: auto;
  font-weight: 500;
  src:
    url("./fonts/ABCFavoritExtended-Medium.woff") format("woff"), /* Modern Browsers */
    url("./fonts/ABCFavoritExtendedVariable.ttf")  format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'ABCFavoritExpanded';
  font-display: auto;
  font-weight: 500;
  src:
    url("./fonts/ABCFavoritExpanded-Medium.woff") format("woff"), /* Modern Browsers */
    url("./fonts/ABCFavoritExpandedVariable.ttf")  format("truetype"); /* Safari, Android, iOS */
}

body {
  background-color: rgb(20 19 13);
  color: rgb(255, 255, 254);
}
